# General options
gameTitle: Arena

# Video

# Width of the window in which Arena will appear
width: 600
# Height of the window in which Arena will appear
height: 600
fullScreen: false
# Total width of the window to shwo gameplay in (remaining space is used by HUD)
viewportWidth: 600
# Total height of the window to shwo gameplay in (remaining space is used by HUD)
viewportHeight: 600

# Level specific options

# Which generation scheme to use
levelGenerator: cave
# The height of the generated cave
rows: 100
# The width of the generated cave
columns: 100
# How wide an individual tile is
tileWidth: 20
# How tall an individual tile is
tileHeight: 20
# The appearance of the level (the tiles used to draw it)
# This must be the name of a directory in assets, and it should contain all tiles necessary to render a Level!
# Example:
#   assets/BlackAndWhite/FloorTile.png
#   assets/BlackAndWhite/WallTile.png
skin: BlackAndWhite

# Cave generation

# I'm using a cellular automata described here: http://www.roguebasin.com/index.php?title=Cellular_Automata_Method_for_Generating_Random_Cave-Like_Levels
# The algorithm repeatedly loops over the map, filling in walls depending on a certain set of rules
# These rules can be adjusted to change the appearance of the cave

# Probability of creating a wall on the first pass
wallCreationProbability: 40
# Requirement to remain a wall for every successive pass
neighborsRequiredToRemainAWall: 3
# Requirement to becomea wall for every successive pass
neighborsRequiredToCreateAWall: 5
# Number of passes. Each pass will (hopefully) smooth out the map
numberOfPasses: 10

# Player options
hitPoints: 10
attack: 5

# Key bindings
moveUp: W
moveLeft: A
moveDown: S
moveRight: D

toggleWallLeft: Left
toggleWallRight: Right
toggleWallUp: Up
toggleWallDown: Down

shoot: Space